{% extends "AppBundle::layout.html.twig" %}

{% block sidebar %}
{{ parent() }}
                <ul class="menu">
                    <li>
                        <a href="campagne">
                            <div class="menuColSelect">
                                <span class="glyphicon glyphicon-book"></span> Campagne
                            </div>
                        </a>
                    </li>
                </ul>
        {% endblock %}
        {% block content %}
                </div>
            <div class="col-md-10 content">
                <h1>Campagne</h1>
                <div class="tableHeadContainer">
                    <table class="table table-bordered tableCampaignOperatorHead">
                        <tr>
                            <th>Campagna</th>
                            <th>Effettuate</th>
                            <th>Da richiamare</th>
                            <th>Non effettuate</th>
                        </tr>
                    </table>
                </div>
                <div class="tableCampaignOperatorContainer">
                    <table class="table table-bordered table-hover tableCampaignOperator">
                        {% for campagna in campagne %}
                        <tr>
                            <td>
                                <a role="button" class="btn btn-default btn-xs" href="contatti/{{ campagna.campaign }}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                </a> {{ campagna.campaign }}
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
