{% extends "AppBundle::layout.html.twig" %}

    {% block sidebar %}
    {{ parent() }}
                <ul class="menu">
                    <li>
                        <a href="report">
                            <div class="menuCol">
                                <span class="glyphicon glyphicon-book"></span> Report
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="menuColSelect">
                                <span class="glyphicon glyphicon-user"></span> Operatori
                            </div>
                        </a>
                    </li>
                </ul>
            {% endblock %}
                {% block logout %}
                {% endblock %}
            {% block content %}
            </div>
            <div class="col-md-10 content">
                <h1>Operatori</h1>
                <div class="tableHeadContainer">
                <table class="table table-bordered tableOperatorAdminHead">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Operatori</th>
                            <th>E-mail</th>
                            <th>Chiamate (effettuate / totali)</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
                </div>  
                <div class="tableOperatorAdminContainer">
                    <table class="table table-bordered tableOperatorAdmin table-hover">
                        <tbody>
                            <tr>
                                <td>Attivo</td>
                                <td>operatore 1</td>
                                <td>operatore1@email.it</td>
                                <td>88 / 167</td>
                                <td><a role="button" class="btn btn-default btn-xs" href="modifica"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            </tr>
                            <tr>
                                <td>Attivo</td>
                                <td>operatore 2</td>
                                <td>operatore2@email.it</td>
                                <td>115 / 167</td>
                                <td><a role="button" class="btn btn-default btn-xs" href="modifica"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            </tr>
                            <tr>
                                <td>Attivo</td>
                                <td>operatore 3</td>
                                <td>operatore3@email.it</td>
                                <td>122 / 168</td>
                                <td><a role="button" class="btn btn-default btn-xs" href="modifica"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            </tr>
                            <tr>
                                <td>Inattivo</td>
                                <td>operatore 4</td>
                                <td>operatore4@email.it</td>
                                <td>0 / 0</td>
                                <td><a role="button" class="btn btn-default btn-xs" href="modifica"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            </tr>
                            <tr>
                                <td>Inattivo</td>
                                <td>operatore 5</td>
                                <td>operatore5@email.it</td>
                                <td>0 / 0</td>
                                <td><a role="button" class="btn btn-default btn-xs" href="modifica"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            </tr>
                            <tr>
                                <td>Inattivo</td>
                                <td>operatore 6</td>
                                <td>operatore6@email.it</td>
                                <td>0 / 0</td>
                                <td><a role="button" class="btn btn-default btn-xs" href="modifica"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a role="button" class="btn btn-default btn-xs" href="nuovo"><span class="glyphicon glyphicon-plus-sign"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>      
        </div>
    </div>
    {% endblock %}